@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #000;
    color: #fff;
}

header .logo {
    font-size: 1.5em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00ffff;
}

.hero {
    position: relative;
    text-align: center;
    background: url('images/demobackground.png') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.hero.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    color: #00ffff;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.cta-button {
    background-color: #00ffff;
    border: 2px solid #00ffff;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    animation: pulse 2s infinite;
}

.cta-button:hover {
    background-color: #000;
    color: #00ffff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #00ffff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #f0f0f0;
}

.feature {
    text-align: center;
    width: 45%;
}

.feature img {
    width: 100%;
    height: auto;
}

.feature h3,
.feature p {
    color: #000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.subscribe {
    text-align: center;
    padding: 20px;
}

.subscribe h2,
.subscribe p {
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}